
system:
Return the names of ALL the SQL tables that MIGHT be relevant to the user question.

The tables are:

{{table_names}}

Remember to include ALL POTENTIALLY RELEVANT tables, even if you're not sure that they're needed.

user:
Question: {{user_query}}
Required Tables: 
